<form #formGroup="ngForm" (ngSubmit)="onSubmit(formGroup)">
  <div class="form-group"
  [class.has-error]="isInvalid(nomeInput)"
  [class.has-feeback]="isInvalid(nomeInput)">
    <label for="nome" class="control-label">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nameInput"
    ngModel [ngModel]="usuario.nome" required #nomeInput="ngModel" aria-describedby="nome">
    <span id="nome" class="sr-only" *ngIf="isInvalid(nomeInput)">(error)</span>
    <div class="alert alert-danger"*ngIf="isInvalid(nomeInput)">
      Nome é Obrigatorio.
    </div>
  </div>

  <div class="form-group"
  [class.has-error]="isInvalid(emailInput)"
  [class.has-feeback]="isInvalid(emailInput)">
    <label for="email" class="control-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="nome@email.com" name="emailInput"
    ngModel [ngModel]="usuario.email" required email #emailInput="ngModel">
    <span id="email" class="sr-only" *ngIf="isInvalid(emailInput)">(error)</span>
    <div class="alert alert-danger" role="alert" *ngIf="isInvalid(emailInput)">
      Email Invalido
    </div>
  </div>


  <button type="submit" title="btnsubmit" class="btn btn-primary" [disabled]="!formGroup.valid">
    Sumbit
  </button>
</form>