<div class="property-binding">

  <div class="center-screen">
    <div class="praticas-data-binding">
      <h3>Interpolação e property binding</h3>
      <div class="container">

        <div class="pratica01">
          <h4>Pratica 01: Perfil de usuario</h4>
          <div class="card-usuario">
            <img [src]='imagemUsuario'>
            <div class="user-descriptions">
              <p>{{ nomeUsuario }}</p>
              <p>{{ idadeUsuario }} </p>
              <p>{{ trabalhoUsuario }}</p>
            </div>
          </div>
        </div>

        <div class="pratica02">
          <h4>Pratica 02: Relogio dinamico</h4>

          <div class="relogio">
            <p>
              {{ horaAtual }}
            </p>
            <button [disabled]="false" (click)="updateTime()">Atualizar hora</button>
          </div>
        </div>

        <div class="pratica03">
          <h4>Pratica 03: semaforo</h4>

          <div class="semaforo">
            <div class="semaforo-caixa">
              <div class="lampada"
                  [style.backgroundColor]="corLampada == 'red' ? 'red' : 'gray' "></div>
              <div class="lampada"
                  [style.backgroundColor]="corLampada == 'yellow' ? 'yellow' : 'gray' "></div>
              <div class="lampada"
                  [style.backgroundColor]="corLampada == 'green' ? 'green' : 'gray' ">
              </div>
            </div>
            <button (click)="mudarCor()">
              trocar de a cor da Lampada
            </button>
          </div>
        </div>

        <div class="pratica04">
          <h4>Pratica 04: Card de Produtos</h4>

          <div class="card-produto">
            <div class="card-img">
                <img [src]="imagemProduto" alt="">
            </div>
            <div class="card-description">
              <p>{{ nomeProduto }}</p>
              <p>R${{ precoProduto }}</p>
              <p>
                Intel I5 12400F  Geforce RTX 4060 8GB
                <br>
                32GB ram SSD 1TB NVME H610M-G
              </p>
              <p >{{ estoqueProduto ? 'disponiveis: ' + estoqueProduto : 'indisponivel' }}</p>

              <div class="card-button">
                <button (click)="mudarValor()">Comprar</button>
                <button (click)="mudarValor()">Adicionar ao carrinho</button>
              </div>
            </div>

          </div>
        </div>

      </div>

      <h3 class="subtitulos">Class e Style binding</h3>

      <div class="container02">
        <div class="pratica05">
          <h4>trocando backgroung</h4>
          <div class="fundo"></div>
        </div>
      </div>





    </div>
  </div>
</div>
