.property-binding {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  padding: 48px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .praticas-data-binding {
      width: 100%;

      h3 {
        font-size: 1.3rem;
        display: flex;
        justify-content: flex-start;
      }

      .container {
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .pratica01{
          h4{
            font-size: 1.2rem;
            font-weight:500;
          }

          .card-usuario{
            display: flex;
            align-items: center;
            height: 100px;
            width: 303px;
            border: 2px solid #dcdcdc;
            border-radius: 8px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            img {
              height: 100px;
              border-right: 2px solid #dcdcdc;
            }
            .user-descriptions {
              padding: 0px 8px;

              p {
                color: #4f4f4f;

                &:nth-child(1){
                  font-size: 1.125rem;
                  color: #000;
                  font-weight: bold;
                }


              }
            }
          }

        }

        .pratica02 {
          h4{
            font-size: 1.2rem;
            font-weight:500;
          }

          .relogio {
            display: flex;
            flex-direction: column;
            width: 300px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border: 2px solid #dcdcdc;
            border-radius: 4px;

            p {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50px;
              font-size: 24px;
            }

            button {
              background-color: #dcdcdc;
              height: 50px;
              outline: none;
              border: none;
              padding: 8px 12px;
              font-size: 16px;
              font-weight: 500;
              border-radius: 0px 0px 1px 1px;
            }
          }

        }

        .pratica03 {
          h4{
            font-size: 1.2rem;
            font-weight:500;
          }

          .semaforo {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            border-radius: 8px;
          }

          .semaforo-caixa {
            display: flex;
            justify-content: space-evenly;
            width: 300px;
            padding: 8px;
            gap: 8px;
            background: #4F4F4F;
            border-radius: 8px 8px 0px 0px;

            .lampada {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }

          button {
            background-color: #dcdcdc;
              height: 34px;
              width: 100%;
              outline: none;
              border: none;
              padding: 4px;
              font-size: 16px;
              font-weight: 500;
              border-radius: 0px 0px 8px 8px;
          }

        }

        .pratica04 {
          h4{
            font-size: 1.2rem;
            font-weight:500;
          }

          .card-produto {
            // border: 2px solid #dcdcdc;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 8px;
            width: 400px;


            .card-img {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                border-radius: 4px 4px 0 0;
              }
            }

            .card-description {
              padding: 16px;

              p:nth-child(1) {
                font-size: 1.425rem;
                font-weight: 500;
              }

              p:nth-child(2),p:nth-child(3) {
                font-weight: 400;
                color: 	#808080;
                font-size: 1rem;
              }

              p:nth-child(4) {
                font-weight: 400;
                font-size: 1.2rem;
                margin-top: 8px;
              }

              .card-button {
                margin-top: 16px;
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: flex-start;

                button {
                  height: 48px;
                  padding: 8px 12px;
                  border: none;
                  background-color: transparent;
                  font-size: 1rem;
                  font-weight: 500;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 4px;

                  &:hover {
                    background-color: rgb(0, 0, 205, 0.3);
                    transition: all .1s;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                  }

                  &:active {
                    background-color: rgb(0, 0, 205, 0.7);
                    transition: all .1s;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                  }
                }
              }
            }

          }

        }


      }


    }
  }

}

