<h2 fundoAmarelo >
  Texto com fundo amarelo.
</h2>

<button fundoAmarelo>
  Botao com fundo amarelo
</button>

<p highlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<p [highlight]="'red'" [defaultColor]="'grey'">
  Texto com highlight com cores customizadas
</p>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos">
  nao existem cursos para serem listados
</div>

<br>
<button (click)="onMostrarCursos()">
  Mostrar ou esconder cursos
</button>
<ng-content [ngElse]="mostrarCursos" > 
  <div>
    nao existem cursos para serem listados
  </div>
</ng-content>
