<form  class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)">

  <div class="form-group" [ngClass]="aplicaCssErro('nameInput')">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nameInput" >

      <app-campo-control-error [mostrarErro]="verificaValidTouched('nameInput')" msgError="Nome é Obrigatorio">
      </app-campo-control-error>
    </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('emailInput')">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName="emailInput">

      <app-campo-control-error [mostrarErro]="verificaValidTouched('emailInput')" msgError="Email é Obrigatorio">
      </app-campo-control-error>

      <app-campo-control-error [mostrarErro]="verificaEmailInvalido()" msgError="Email Invalido">
      </app-campo-control-error>
    </div>
  </div>

  <div>
    <div class="form-group">
      <div class="col-md-3" [ngClass]="aplicaCssErro('cepInput')">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" placeholder="Digite o CEP" formControlName="cepInput">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('cepInput')" msgError="CEP é Obrigatorio">
        </app-campo-control-error>
      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro('numeroInput')">
        <label for="numero" class="control-label" >Número</label>
        <input type="number" class="form-control" id="numero"  placeholder="100" formControlName="numeroInput">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('numeroInput')" msgError="Número é Obrigatorio">
        </app-campo-control-error>
      </div>

      <div class="col-md-6">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento"  n placeholder="100">
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro('ruaInput')">
      <div class="col-sm-12">
        <label for="rua" class="control-label">Rua</label>
      </div>

      <div class="col-sm-12">
        <input type="text" class="form-control" id="rua" placeholder="Nome" formControlName="ruaInput">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('ruaInput')"  msgError="Rua é Obrigatorio">
        </app-campo-control-error>
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro('bairroInput')">
      <div class="col-md-5" >
        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" placeholder="Digite o bairro" formControlName="bairroInput">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('bairroInput')"  msgError="Bairro é Obrigatorio">
        </app-campo-control-error>
      </div>

      <div class="col-md-4" [ngClass]="aplicaCssErro('cidadeInput')">
        <label for="cidade" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" placeholder="Digite a cidade" formControlName="cidadeInput">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('cidadeInput')"  msgError="Cidade é Obrigatorio">
        </app-campo-control-error>
      </div>

      <div class="col-md-3">
        <label for="estado" class="control-label">Estado</label>
        <input type="text" class="form-control" id="estado"  placeholder="Digite o estado" formControlName="estadoInput">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('estadoInput')" msgError="Estado é Obrigatorio">
        </app-campo-control-error>
      </div>
    </div>

 </div>

  <button type="submit" title="btnSubmit" class="btn btn-primary">
    Sumbit
  </button>
  <button  title="btnSubmit" class="btn " (click)="resetar()">
    cancelar
  </button>
  <app-form-debug [form]="formulario"></app-form-debug>
</form>
