<section class="two-way-binding">
  <article>
    <h3>Two-Way Data Binding</h3>
    <div>

      <!--      <input type="text"-->
      <!--             [(value)]="nome"-->
      <!--             (input)="nome = $event.target.value"-->
      <!--      />-->

      <input type="text" [(ngModel)]="nome"/>

      <p>
        voce digitou o nome: {{ nome }}
      </p>
    </div>

    <div>

      <input type="text" [(ngModel)]="pessoa.name">
      <input type="text" [(ngModel)]="pessoa.age">
      <p>Meu nome é {{ pessoa.name }} e tenho {{ pessoa.age }} anos de idade</p>
    </div>
  </article>
</section>
