<div class="pratica03">
  <h4>Pratica 03: semaforo</h4>

  <div class="semaforo">
    <div class="semaforo-caixa">
      <div class="lampada"
          [style.backgroundColor]="corLampada ==='red' ? 'red' : 'gray' "></div>
      <div class="lampada"
          [style.backgroundColor]="corLampada ==='yellow' ? 'yellow' : 'gray' "></div>
      <div class="lampada"
          [style.backgroundColor]="corLampada === 'green' ? 'green' : 'gray' ">
      </div>
    </div>
    <button (click)="mudarCor()">
      trocar de a cor da Lampada
    </button>
  </div>
</div>
