.box-imagem {
  width: 812px;
  border: 2px solid #dcdcdc;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
